@import "../base/variables";
main{
    .anuncioDeEstacionInvierno{
        @include flex (flex, center, center,row);
        @include tamanio (100%, calc(100vh - 100px));
        background-image: radial-gradient(circle, #00050dc2, #03030aad, #0000008a, #0301028a, #000000a8), url(../img/adultosh.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        border-bottom: 1px solid $color-secundario;
        .contenedorAnuncioDeEstacionInvierno{
            h1{
                font-size: 56px;
                font-weight: bold;
                text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
                color: $color-secundario;
                text-transform: uppercase;
                
            }
        }
    }
    .buzosAdultos{
        @include flex (flex, center, center,row);
        @include tamanio (100%, 1200px);
        background-color:  #000;
        .contenedorBuzosA{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            justify-items: center;
            align-items: center;
            gap: 15px;
            @include tamanio (100%, 1000px);
            background-color: $color-Terciario;
            position: relative;
            h2{
                font-size: 2.5em;
                font-weight: bold;
                position: absolute;
                left: 45%;
                bottom: 975px;
                color:  $color-secundario;
                background-color:  $color-Terciario;
                text-transform: uppercase;
                text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
                padding: 10px 20px;
                border-radius: 10px;
            }
            .cardsBuzosA{
                @include flex (flex, space-between, center, column);
                @include tamanio (350px, 350px);
                background: rgba(255, 255, 255, 0.09);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(10.7px);
                -webkit-backdrop-filter: blur(10.7px);
                border: 1px solid rgba(255, 255, 255, 0.3);
                overflow: hidden;
                text-align: center;
                transition: all .4s ease-in-out;
                &:hover{
                    @include tamanio (400px, 550px);
                }
                .cardsEncabezadoBuzosA{
                    @include tamanio (350px, 350px);
                    padding: 25px 10px 0 7px;
                    img{
                        @include tamanio (285px, 285px);
                        border-radius: 8px;
                        border: 2px solid #000;
                        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.664);
                    }
                }
                .cardsTituloBuzoA{
                    width: 300px;
                    border-bottom: 2px solid $color-principal;
                    h3{
                        color: $color-principal;
                        margin: 8px 0 8px 0;
                        font-size: 1.2em;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-shadow: 2px 1px 0px rgba(0,0,0,0.43);
                    }
                }
                .infoCardsBuzoA{
                    margin: 10px 0 10px 0;
                    transition: all .5s ease-in-out;
                        &:hover{
                            transform: scale(1.1);
                        }
                    a{
                        color:  $color-secundario;
                        font-size: 1em;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                        background-color: $color-principal;
                        border-radius: 5px;
                        border: 1px solid $color-secundario;
                        padding: 5px 5px;
                        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.911);
                    }
                    p{
                        color: $color-secundario;
                        padding: 0 15px;
                        font-size: 1em;
                    }
                }
            }
        }
    }
}