@import "./variables";

@media screen and (max-width: 1270px){
    main{
        .novedades{
            height: 1400px;
            .novedadesContenedor{
                grid-template-columns: repeat(2, 1fr);
                height: 1200px;
                gap: 5px;
                h2{
                    bottom: 1175px;
                    padding: 5px 10px;
                }
                .cardsContenedorNov{
                    @include tamanio (450px, 450px);
                    &:hover{
                        @include tamanio (450px, 600px);
                    }
                    .cardsEncabezadoNov{
                        @include tamanio (450px, 450px);
                        img{
                            @include tamanio (380px, 380px);
                        }
                    }
                }
            }
        }
        .buzosAdultos{
            height: 1000px;
            .contenedorBuzosA{
                height: 800px;
                gap: 0px;
                h2{
                    bottom: 775px;
                }
                .cardsBuzosA{
                    @include tamanio (250px,250px);
                    &:hover{
                        @include tamanio (300px, 450px);
                    }
                    .cardsEncabezadoBuzosA{
                        @include tamanio (250px, 250px);
                        img{
                            @include tamanio (185px, 185px)
                        }
                    }
                    .cardsTituloBuzoA{
                        width: 250px;
                        h3{
                            font-size: 1em;
                            margin: 10px 0 13px 0;
                        }
                    }
                    .infoCardsBuzoA{
                        width: 250px;
                        p{
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
        .mallasNinios{
            height: 1000px;
            .contenedorMallasN{
                height: 800px;
                gap: 0px;
                h2{
                    bottom: 775px;
                }
                .cardsMallasN{
                    @include tamanio (250px,250px);
                    &:hover{
                        @include tamanio (300px, 450px);
                    }
                    .cardsEncabezadoMallasN{
                        @include tamanio (250px, 250px);
                        img{
                            @include tamanio (185px, 185px)
                        }
                    }
                    .cardsTituloMallasN{
                        width: 250px;
                        h3{
                            font-size: 0.9em;
                            margin: 10px 0 13px 0;
                        }
                    }
                    .infoCardsMallasN{
                        width: 250px;
                        p{
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
        .gorrasAc{
            height: 1000px;
            .contenedorGorrasAc{
                height: 800px;
                gap: 0px;
                h2{
                    bottom: 775px;
                }
                .cardsGorrasAc{
                    @include tamanio (250px,250px);
                    &:hover{
                        @include tamanio (300px, 450px);
                    }
                    .cardsEncabezadoGorrasAc{
                        @include tamanio (250px, 250px);
                        img{
                            @include tamanio (185px, 185px)
                        }
                    }
                    .cardsTituloGorrasAc{
                        width: 250px;
                        h3{
                            font-size: 1em;
                            margin: 10px 0 13px 0;
                        }
                    }
                    .infoCardsGorrasAc{
                        width: 250px;
                        p{
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1090px){
    main{
        .hero{
            .heroContenedor{
                height: 470px;
                .heroImg{
                    a{
                        img{
                            height: 285px;
                            padding-bottom: 10px;
                        }
                    }
                }
                .heroTitulo{
                    h1{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1075px) {
    main{
        .formulario{
            .formularioPresentacion{
                width: 450px;
            }
            .formularioContenedor{
                width: 430px;
                form{
                    width: 430px;
                    .formularioNAE{
                        width: 350px;
                    }
                    .formularioSexo{
                        width: 350px;
                    }
                    .formularioMensaje{
                        width: 350px;
                    }
                }
            }
        }
    }
    footer{
        .contenedorFooter{
            .contenedorMapa{
                width: 50%;
                iframe{
                    width: 350px;
                }
                h2{
                    font-size: 26px;
                }
            }
            .contenedorRedesNew{
                width: 500px;
                .newsletter{
                    form{
                        width: 500px;
                    }
                }
                .redesSociales{
                    width: 500px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px){
    main{
        .novedades{
            .novedadesContenedor{
                .cardsContenedorNov{
                    @include tamanio (350px, 350px);
                    &:hover{
                        @include tamanio (350px, 500px);
                    }
                    .cardsEncabezadoNov{
                        @include tamanio (350px, 350px);
                        img{
                            @include tamanio (280px, 280px);
                        }
                    }
                }
            }
        }
        .tiendaContenedor{
            .tiendaImg1{
                width: 650px;
            }
            .tiendaImg2{
                width: 650px;
            }
        }
        .formulario{
            .formularioPresentacion{
                width: 380px;
                .formularioPresentacionRedes{
                    width: 350px;
                    .formularioPresentacionRedesIconos{
                        width: 350px;
                    }
                }
            }
            .formularioContenedor{
                width: 380px;
                form{
                    width: 380px;
                }
            }
        }
    }
    footer{
        .contenedorFooter{
            .contenedorMapa{
                iframe{
                    width: 340px;
                }
                h2{
                    font-size: 24px;
                }
            }
            .contenedorRedesNew{
                width: 450px;
                .newsletter{
                    form{
                        width: 450px;
                    }
                }
                .redesSociales{
                    width: 450px;
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    main{
        .buzosAdultos{
            height: 1200px;
            .contenedorBuzosA{
                grid-template-columns: repeat(2, 1fr);
                height: 1000px;
                h2{
                    bottom: 975px;
                }
            }
        }
        .mallasNinios{
            height: 1200px;
            .contenedorMallasN{
                grid-template-columns: repeat(2, 1fr);
                height: 1000px;
                h2{
                    bottom: 975px;
                }
            }
        }
        .gorrasAc{
            height: 1200px;
            .contenedorGorrasAc{
                grid-template-columns: repeat(2, 1fr);
                height: 1000px;
                h2{
                    bottom: 975px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    main{
        .formulario{
            .formularioPresentacion{
                width: 300px;
                .formularioPresentacionImg{
                    @include tamanio (250px, 200px);
                    img{
                        @include tamanio (200px, 200px);
                    }
                }
                .formularioPresentacionRedes{
                    width: 280px;
                    h2{
                        font-size: 26px;
                    }
                    .formularioPresentacionRedesIconos{
                        width: 280px;
                        @include flex (flex, center, center, column);
                        a{
                            img{
                                @include tamanio (44px, 44px);
                            }
                        }
                    }
                }
            }
        }
    }
    footer{
        .contenedorFooter{
            .contenedorMapa{
                iframe{
                    @include tamanio (340px, 200px);
                }
            }
            .contenedorRedesNew{
                width: 350px;
                .newsletter{
                    form{
                        width: 350px;
                    }
                }
                .redesSociales{
                    width: 350px;
                    .iconosFooter{
                        a{
                            img{
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    footer{
        .contenedorFooter{
            .contenedorRedesNew{
                .newsletter{
                    form{
                        .emailNewsletter{
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px){
    main{
        .novedades{
            height: 2000px;
            .novedadesContenedor{
                grid-template-columns:  1fr;
                height: 1800px;
                h2{
                    bottom: 1775px;
                }
            }
        }
        .formulario{
            .formularioContenedor{
                width: 55%;
            }
            .formularioPresentacion{
                width: 44%;
                .formularioPresentacionRedes{
                    .formularioPresentacionRedesIconos{
                        width: 200px;
                    }
                }
            }
        }
    }
    footer{
        .contenedorFooter{
            .contenedorMapa{
                iframe{
                    @include tamanio (280px, 200px);
                }
                h2{
                    font-size: 22px
                }
            }
        }
    }
}

@media screen and (max-width: 700px){
    main{
        .tiendaContenedor{
            .tiendaImg1{
                width: 600px;
            }
            .tiendaImg2{
                width: 600px;
            }
        }
        .formulario{
            height: 1300px;
            flex-direction: column;
            .formularioPresentacion{
                flex-direction: row;
                @include tamanio (95%, 300px);
                .formularioPresentacionImg{
                    @include tamanio (250px, 200px);
                    img{
                        @include tamanio (200px, 200px);
                    }
                }
                .formularioPresentacionRedes{
                    width: 280px;
                    justify-content: center;
                    h2{
                        font-size: 28px;
                        margin-bottom: 5px;
                    }
                    .formularioPresentacionRedesIconos{
                        @include flex (flex, center, center, row);
                        @include tamanio (200px, 100px);
                        a{
                            img{
                                @include tamanio (44px, 44px);
                            }
                        }
                    }
                }
            }
            .formularioContenedor{
                width: 95%;
            }
        }
    }
    footer{
        .contenedorFooter{
            @include tamanio (100%, 800px);
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 650px){
    main{
        .buzosAdultos{
            height: 2100px;
            .contenedorBuzosA{
                grid-template-columns: 1fr;
                height: 1900px;
                h2{
                    bottom: 1885px;
                    left: 38%
                }
            }
        }
        .mallasNinios{
            height: 2100px;
            .contenedorMallasN{
                grid-template-columns: 1fr;
                height: 1900px;
                h2{
                    bottom: 1885px;
                    left: 38%
                }
            }
        }
        .gorrasAc{
            height: 2100px;
            .contenedorGorrasAc{
                grid-template-columns: 1fr;
                height: 1900px;
                h2{
                    bottom: 1885px;
                    left: 38%
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    main{
        .hero{
            .heroContenedor{
                .heroImg{
                    a{
                        img{
                            height: 250px;
                        }
                    }
                }
                .heroTitulo{
                    h1{
                        font-size: 25px;
                    }
                    .heroLinks{
                        a{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .tiendaContenedor{
            .tiendaImg1{
                width: 480px;
                align-items: center;
            }
            .tiendaImg2{
                width: 480px;
                align-items: center;
            }
        }
    }
}


@media screen and (max-width: 550px){
    main{
        .formulario{
            .formularioPresentacion{
                .formularioPresentacionImg{
                    @include tamanio (200px, 150px);
                    img{
                        @include tamanio (150px, 150px);
                    }
                }
            }
        }
    }
    footer{
        .contenedorFooter{
            .contenedorMapa{
                width: 100%;
                h2{
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    main{
        .tiendaContenedor{
            flex-direction: row;
            padding: 5px;
            gap: 5px;
            .tiendaImg1{
                @include tamanio (50%, 480px);
                h2{
                    font-size: 24px;
                    font-weight: bold;
                }
            }
            .tiendaImg2{
                @include tamanio (50%, 480px);
                h2{
                    font-size: 24px;
                    font-weight: bold;
                }
            }
        }
        .formulario{
            .formularioContenedor{
                form{
                    width: 98%;
                    .formularioNAE{
                        width: 95%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 450px){
    main{
        .hero{
            .heroContenedor{
                height: 470px;
                .heroTitulo{
                    h1{
                        font-size: 20px;
                    }
                }
            }
        }
        .formulario{
            .formularioPresentacion{
                @include flex (flex, center, center, column);
                .formularioPresentacionImg{
                    @include tamanio (140px, 120px);
                    img{
                        @include tamanio (100px, 120px);
                    }
                }
                .formularioPresentacionRedes{
                    height: 40%;
                    h2{
                        font-size: 24px;
                        margin-bottom: 5px;
                    }
                    .formularioPresentacionRedesIconos{
                        @include tamanio (150px, 64px);
                        a{
                            margin: 0 5px 0 0;
                            img{
                                @include tamanio (34px, 34px);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px){
    main{
        .hero{
            .heroContenedor{
                .heroTitulo{
                    .heroLinks{
                        a{
                            font-size: 12px
                        }
                    }
                }
            }
        }
        .novedades{
            .novedadesContenedor{
                .cardsContenedorNov{
                    @include tamanio (300px, 300px);
                    &:hover{
                        @include tamanio (300px, 450px);
                    }
                    .cardsEncabezadoNov{
                        @include tamanio (300px, 300px);
                        img{
                            @include tamanio (230px, 230px);
                        }
                    }
                }
            }
        }
        .formulario{
            .formularioContenedor{
                form{
                    .formularioSexo{
                        width: 90%;
                    }
                    .formularioMensaje{
                        width: 90%;
                    }
                }
            }
        }
    }
}